.header{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.btn{
  border: 2px solid black;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.9);
  color: grey;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.cell:disabled{
  color: black;
  cursor: no-drop;
}
.result{
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.result-text{
  color: white;
  transition: background-color 0.3s, color 0.3s;
}